<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Italianno&family=Zen+Kaku+Gothic+New:wght@400;500;700&family=Zen+Kurenaido&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='assets/css/style.css'>
  <title>Hachi Koubou Design</title>
</head>

<body>
  <header class='l-header'>
    <h1 class='l-header_logo'><a href=''>Hachi Koubou Design</a></h1>
    <nav class='l-header_sns'>
      <a href='' class='l-header_sns_btn'><img src='assets/img/icon_insta.png' alt='Instagram'></a>
      <a href='' class='l-header_sns_btn'><img src='assets/img/icon_twitter.png' alt='Twitter'></a>
    </nav>
  </header>

  <p class='p-topFv'>
    <span>
      「がんばる女性起業家さん<br class="u-sp">を応援したい」<br>Hachi Kooubouはあなたのそば<br class="u-sp">に寄り添い<br class="u-pc">デザインの力で<br class="u-sp">サポートします
    </span>
  </p>

  <section class='p-topGreeting'>
    <h2 class='c-title'>ご挨拶</h2>
    <figure class='p-topGreeting_thumb'>
      <img src='assets/img/fig_greeting.jpg' alt=''>
      <figcaption>"女性起業家専門デザイナー"<em>光本やすえ</em></figcaption>
    </figure>
    <div>
      <p class='p-topGreeting_text'>
        場所に縛られず、<br class="u-sp">自由気ままに日本中を旅しながら働く<br>"バンライフ"という生き方をしたい！<br>息子たちに、こんな生き方もあるんだよって<br class="u-sp">知ってほしい。
      </p>
      <p class='p-topGreeting_text'>そう決心して、Webデザイナーになりました。</p>
      <p class='p-topGreeting_text'>
        同じく個人で活動しているあなたも、<br class="u-sp">「どうしたら理想の生活ができるの？」と<br>不安や悩みを抱えていると思います。<br>話しやすさには自信があります<br>どうぞあなたの思いを全てぶつけてくださいね。
      </p>
      <div class="p-topGreeting_centerWrapper">
        <p class='p-topGreeting_text marker'>
          デザインを通してお悩みを解決し<br>その商品、サービスに"そっと光を添える"を<br class="u-sp">コンセプトに<br>お手伝いができればとおります。
        </p>
      </div>
    </div>
  </section>

  <section class='p-topCan'>
    <h2 class='c-title'>私ができること</h2>
    <ul class='p-topCan_lists'>
      <li class='p-topCan_list'>
        <h3 class='p-topCan_list_title'>店舗のWebサイト制作</h3>
        <p class='p-topCan_list_text'>
          ご要望をヒアリングし、今の課題を洗い出し、解決するWebサイトを作成いたします。何が必要で何が必要でないのかを判断し、費用対効果の高いWebサイトを作るための土台を作ります。
        </p>
      </li>
      <li class='p-topCan_list'>
        <h3 class='p-topCan_list_title'>
          チラシ・パンフレット・名刺などの<br>宣伝物作成
        </h3>
        <p class='p-topCan_list_text'>
          印刷物はそのサイズ・材質により雰囲気が大きく変わります。Webサイト制作とは異なるポイントがあります。Illustratorというソフトをを使用し、大きく印刷しても荒くならない形式で制作していきます。
        </p>
      </li>
      <li class='p-topCan_list'>
        <h3 class='p-topCan_list_title'>
          Twitter、Googleなどの<br>広告出稿用バナー作成
        </h3>
        <p class='p-topCan_list_text'>
          Google・Instagram・Facebook・TwitterなどのSNSを利用した広告画像は、どのデバイスでも見やすく、効果的に表示されるよう制作します。
        </p>
      </li>
      <li class='p-topCan_list'>
        <h3 class='p-topCan_list_title'>
          Instagram投稿画像作成
        </h3>
        <p class='p-topCan_list_text'>
          集客に特化した投稿画像を制作します。フィードだけでなく、リール・ストーリー・ハイライトまでトータルでのブランディングをサポートします。
        </p>
      </li>
    </ul>
  </section>
</body>

</html>